@model IEnumerable<Grameen.Models.RegionCropView>

@if (Request.IsAuthenticated)
{
    <div class="well well-sm">
        @*<h1>FOT</h1>
            <p class="lead">Fertility Optimisation Tool</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        </div>*@
        <div class="row">
            <div class="col-md-12">
                <h2>Regions</h2>
                <p>
                    To manage all the available regions and update the soil fertility optimisation tools
                </p>

                @Html.ActionLink("Add New Region", "AddRegion", null, new {@class = "btn btn-primary"})

            </div>

        </div>
    </div>
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th>
                Region
            </th>
            <th> Units </th>
            <th>
                Available Crops
            </th>

            <th>

            </th>

        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Region)
                </td>
                <td> @Html.DisplayFor(modelItem => item.Units)</td>
                <td>
                    @foreach (var crop in item.Crops)
                    {
                        <b> @Html.Raw(crop + " , ")</b>
                    }
                </td>

                <td>

                    @Html.ActionLink("Edit", "EditRegion", null, new {@class = "btn btn-warning"})

                    @Html.ActionLink("Delete", "DeleteRegion", new {id = item.Id}, new {@class = "btn btn-danger"})

                </td>
            </tr>
        }
        </tbody>
    </table>
}