@model IEnumerable<Optimize.Error>

@{
    ViewBag.Title = "Error Report";
}

<h2>Error Report</h2>


<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.dateTime)
        </th>
        <th>
            User Details
        </th>
        <th>
            @Html.DisplayNameFor(model => model.error)
        </th>

    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.calculation.FarmerName) @Html.Raw(" - ")
                    @Html.DisplayFor(modelItem => item.calculation.Imei)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.error)
                </td>

            </tr>
        }
    </tbody>
</table>
